[submodule "Paper-I"]
	path = Paper-I
	url = git@github.com:ALICE-InRu/Paper-I.git
[submodule "Paper-II"]
	path = Paper-II
	url = git@github.com:ALICE-InRu/Paper-II.git
[submodule "Paper-III"]
	path = Paper-III
	url = git@github.com:ALICE-InRu/Paper-III.git
[submodule "Paper-IV"]
	path = Paper-IV
	url = git@github.com:ALICE-InRu/Paper-IV.git
